
# Created by https://www.toptal.com/developers/gitignore/api/osx
# Edit at https://www.toptal.com/developers/gitignore?templates=osx

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



# End of https://www.toptal.com/developers/gitignore/api/osx
db.json
44-PROYECTO-CRM-CRUD-REST/db.json
**.gitignore*
**/51-Testing-Jest/node_modules/*
**/node_modules/*

**/51-Testing-Jest/*
**52-Testing-Cypress/cypress/fixtures/*
**52-Testing-Cypress/cypress/plugins/*
**52-Testing-Cypress/cypress/screenshots/*
**52-Testing-Cypress/cypress/support/*
**52-Testing-Cypress/cypress/videos/*

